<manifest package="net.hugonardo.gjp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".GjpApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Troque por uma chave de API válida -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa" />

        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
